body {
    background-color: black;
    color: white;
    font-family: 'Dancing Script';
    font-size: 50px;
    
}

.versus{
    width: 40px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    vertical-align:middle;
    display: inline-grid;
    height: 200px;
}

.cocktail {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    vertical-align: bottom;
    display: inline-grid;
    width: 350px;
}

#drinks {
    margin: 2rem;
    padding: 20px;
 
}
